 /* modify the nav bars */
 .links {
     display: flex;
     background-color: black;
     gap: 450px;
     align-items: center;
 }

 .nav {
     color: rgb(239, 168, 26);
     font-size: 25px;
     padding: 10px;
     margin: 0px;
 }

 /* designs the header of the page */
 header {
     color: rgb(239, 168, 26);
     text-align: center;
     font-size: 20px;
 }

 /* the first paragraph */
 .first {
     font-size: 20px;
 }

 /* images design */
 .images {
     display: flex;
     gap: 200px;
     flex-wrap: wrap;
 }

 img {
     width: 100%;
 }

 .kruger {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .sere {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .amboseli {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .mara {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 /* .text {
     position: absolute;
     color: red;
     bottom: 20px;
     left: 20px;
 } */

 /* .image {
     width: 50%;

 } */