 /* modify the nav bars */
 .links {
     display: flex;
     background-color: black;
     gap: 450px;
     align-items: center;
 }

 .nav {
     color: rgb(239, 168, 26);
     font-size: 25px;
     padding: 10px;
     margin: 0px;
 }

 body {
     background-color: azure;
 }

 /* designs the header of the page */
 header {
     color: rgb(239, 168, 26);
     text-align: center;
     font-size: 20px;
 }

 /* the first paragraph */
 .first {
     font-size: 20px;
 }

 /* images design */
 .images {
     display: flex;
     gap: 100px;
     flex-wrap: wrap;
 }

 img {
     padding: 0px;
     margin: 0px;
     width: 90%;
 }

 .kruger {
     width: 200px;
     height: 200px;
     object-fit: cover;
 }

 .sere {
     padding: 0px;
     margin: 0px;
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .amboseli {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .mara {
     width: 500px;
     height: 500px;
     object-fit: cover;
 }

 .text {
     background-color: aquamarine;
 }



 .image {
     margin: 0px;
     padding: 0px;
 }