/* media query for screens with a minimum width of 20px */
@media screen and (min-width: 20px) {

    /* nav bars modification */
    .links {
        display: flex;
        background-color: black;
        gap: 50px;
        align-items: center;
    }

    /* image design */
    body {
        background-image: url(lion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 20;
    }

    /* itro paragraph design */
    .intro {
        text-align: left;
        width: 250px;
        color: black;
        font-size: 15px;
    }

    header {
        text-align: center;
        color: white;
    }
}

/* media query for screens with a minimum width of 1000px */
@media screen and (min-width: 1000px) {

    /* modify the nav bars */
    .links {
        display: flex;
        background-color: black;
        gap: 450px;
        align-items: center;
    }

    .nav {
        color: rgb(239, 168, 26);
        font-size: 25px;
        padding: 10px;
        margin: 0px;
    }

    /* designs the body content(image) */
    body {
        background-image: url(lion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 20;
    }

    /* design the heading */
    h1 {
        font-size: 50px;
        color: rgb(239, 168, 26);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* introductory paragraph */
    .intro {
        text-align: left;
        width: 650px;
        color: black;
        font-size: 25px;
    }

    header {
        text-align: center;
        color: rgb(239, 168, 26);
    }
}