/* modify the nav bars */
.links {
    display: flex;
    background-color: black;
    gap: 450px;
    align-items: center;
}

.nav {
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
}

/* designs the body content(image) */
body {
    background-image: url(lion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
}

/* design the heading */
h1 {
    color: rgb(239, 168, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* introductory paragraph */
.intro {
    text-align: left;
    width: 200px;
    color: darkorange;
}