/* modify the nav bars */
.links {
    display: flex;
    background-color: black;
    gap: 450px;
    align-items: center;
}

.nav {
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 0px;
}

/* designs the body content(image) */
body {
    background-image: url(lion.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}